{% extends '::base.html.twig' %}

{% block body %}
    {% if location is defined and location is not null %}
        Latitude: {{ location.latitude }} - Longitude: {{ location.longitude }}
    {% endif %}

    {{ form_start(form) }}
        {{ form_row(form.location) }}
        {{ form_rest(form) }}
        <button type="submit">Submit</button>
    {{ form_end(form) }}
{% endblock %}